<ion-view title="Request a Ride">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <div>
        <div class="list">

        <div class="item">
          <label>Need a ride from:</label>
          <ion-google-place placeholder="address or place" ng-model="request.from" location-changed="fromLocationChanged"/>
        </div>

          <div class="item">
            <label>Need a ride to:</label>
            <ion-google-place placeholder="address or place" ng-model="request.to" location-changed="toLocationChanged"/>
          </div>

          <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Comments</span>
            <input type="text" ng-model="request.comments" placeholder="Please note if you will be bringing anything">
          </label>
          </div>

        </div>

        <ionic-timepicker ng-model="request.timeStart" input-obj="startTimePicker">
          <button class="button button-block button-stable overflowShow">
            From: {{startTime}}
          </button>
        </ionic-timepicker>

        <ionic-timepicker input-obj="endTimePicker">
            <button class="button button-block button-stable overflowShow">
              To: {{endTime}}
            </button>
        </ionic-timepicker>

        <button class="button button-full button-balanced icon-left ion-paper-airplane" ng-click="submitRequest()">Submit Request</button>

      </div>
    </div>
  </ion-content>
</ion-view>
