<ion-view title="Confirmation">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <h2>Thank you for your Confirmation!</h2>
    <p>Your driver has been notified of your decision. <br>
      Your driver will contact you soon regarding your pick-up.</p><br>
    <p style="text-align: left">From: {{selectedRide.from}}</p>
    <p style="text-align: left">To: {{selectedRide.to}}</p>
    <p style="text-align: left">Available: {{selectedRide.timeStart}} - {{selectedRide.timeEnd}}</p>
    <div>
      <h2>Driver:</h2>
      <profilewidget></profilewidget>
    </div>
  </ion-content>
</ion-view>
