<ion-view>
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Request from {{request.requesteeProfile.name}}</ion-nav-title>
  <ion-content>
    <profilewidget></profilewidget>
    <div class="button-bar">
      <a class="button button-assertive" on-tap="goBack()">Unavailable</a>
      <a class="button button-positive" ui-sref="makeOffer">Offer ride</a>
    </div>
  </ion-content>
</ion-view>
