<ion-view title="My Ride Requests">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-repeat="ride in requests">
      <button ng-click="setSelection(ride)" style="width: 100%">
        <div class="row">
          <div class ="col">
            <p style="text-align: left">From: {{ride.from}}</p>
            <p style="text-align: left">To: {{ride.to}}</p>
            <p style="text-align: left">Available: {{ride.timeStart}} - {{ride.timeEnd}}</p>
            <p style="text-align: left">Comments: {{ride.comments}}</p>
            <h4 style="text-align: left" ng-show="ride.offers.length">Offers: {{ride.offers.length}}</h4>
          </div>
        </div>
      </button>
    </div>
  </ion-content>
</ion-view>
