<ion-view title="Rate User">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <div class="list">
        <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Safety</span>
            <input type="text" placeholder="1-10"{>
          </label>
        </div>
        <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Hygiene:</span>
            <input type="text" placeholder="1-10">
          </label>
        </div>
        <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Promptness:</span>
            <input type="text" placeholder="1-10">
          </label>
        </div>
        <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Friendliness:</span>
            <input type="text" placeholder="1-10">
          </label>
        </div>
        <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Would Recommend:</span>
            <input type="text"placeholder="1-10">
          </label>
        </div>
      </div>
    </div>
    <button class="button button-full button-balanced icon-left ion-paper-airplane" ng-click="submitReview()">Submit Review</button>
  </ion-content>
</ion-view>
