<div class="list card">
  <div class="item item-avatar">
    <img src="{{profile.showProfile.profilePic}}">
    <h2>{{profile.showProfile.name}}
      <i ng-repeat="star in generateStars()" class="icon energized ion-android-star"></i>
    </h2>
    <p>Karma points: {{profile.showProfile.karma}}/50</p>
    <p>{{request.requestDate}}</p>
  </div>

  <div class="item item-body">
    <p>Request pick up time: {{request.timeStart}}-{{request.timeEnd}}</p>
    <p>From: {{request.from}}</p>
    <p>To: {{request.to}}</p>
  </div>
</div>


