<ion-view title="Make A Ride Offer">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <div>
        <div class="list">
          <div class="item">
            <label>Pickup Location:</label>
            <ion-google-place placeholder="address or place" ng-model="offer.pickupLocation" location-changed="pickupLoactionChanged"/>
          </div>

          <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Comments</span>
            <input type="text" ng-model="offer.comments" placeholder="Comments to the rider...">
          </label>
          </div>

          <ionic-timepicker input-obj="timePickerObject">
            <button class="button button-block button-stable overflowShow">
              Pickup Time:
              <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
            </button>
          </ionic-timepicker>

        </div>

        <button class="button button-full button-balanced icon-left ion-paper-airplane" ng-click="submitOffer()">Submit Offer</button>
      </div>
    </div>
  </ion-content>
</ion-view>
