<ion-view title="Edit Profile">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <div class="list">
        <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Profile Picture:</span>
            <div>
              <img src="{{profile.profilePic}}" width="100px"/>
            </div>
          </label>
        </div>
        <div class="item">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Username:</span>
            <input type="text" ng-model="profile.name" placeholder="{{profile.name}}">
          </label>
        </div>
        <div class="item">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Car Model:</span>
            <input type="text" ng-model="profile.carModel" placeholder="{{profile.carModel}}">
          </label>
        </div>
        <div class="item">
        <form ng-submit="addInterest()">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Interest</span>
            <input type="text" ng-model="interest" placeholder="Add Interest">
          </label>
        </form>
        </div>
        <h4>Current Interests:</h4>
        <ul>
          <li style="margin-left: 12px" ng-repeat="interest in profile.interests">{{interest}}</li>
        </ul>
      </div>
    </div>
    <button class="button button-full button-balanced icon-left ion-paper-airplane" ng-click="saveChanges()">Save Changes</button>
  </ion-content>
</ion-view>
