<ion-view title="Karma Car">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-person"  ui-sref="editProfile">
      Edit Profile
    </button>
  </ion-nav-buttons>
<ion-content>

  <div id="homescreenButtonsAndList">

    <div>
      <img src="../../../img/KarmaCar.png" width="100%">
      <button class="button button-full button-balanced icon-left ion-chatbox" ui-sref="riderequest">Request a Ride</button>
      <button class="button button-full button-calm icon-left ion-model-s" ui-sref="requestList">Give a Ride</button>
    </div>

    <div class="list">

      <a class="item item-icon-left" ui-sref="myriderequests">
        <i class="icon ion-thumbsup"></i>
        My Ride Requests
        <span class="badge badge-energized">{{requests.length}}</span>
      </a>

      <a class="item item-icon-left" ui-sref="myrideoffers">
        <i class="icon ion-happy-outline"></i>
        My Ride Offers
        <span class="badge badge-energized">{{offers.length}}</span>
      </a>

    </div>
  </div>
</ion-content>
</ion-view>
