<ion-view title="These guys need a ride!">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
        <a class="item item avatar" ng-repeat="request in requests" ui-sref="viewRequest({id: request.id})">
          <h2>{{request.requesteeProfile.name}} <i ng-repeat="star in generateStars(request)" class="icon energized ion-android-star"></i></h2>
          <p>From: {{request.from}}</p>
          <p>To: {{request.to}}</p>
          <p>Available: {{request.timeStart}} - {{request.timeEnd}}</p>
        </a>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

