<ion-view title="Rating">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <div>
        Rating
      </div>
    </div>
  </ion-content>
</ion-view>
