<ion-view title="View Offer">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <p style="text-align: left">From: {{selectedRide.from}}</p>
    <p style="text-align: left">To: {{selectedRide.to}}</p>
    <p style="text-align: left">Available: {{selectedRide.timeStart}} - {{selectedRide.timeEnd}}</p>
    <div>
      <h2>Driver:</h2>
        <profilewidget></profilewidget>
    </div>
    <button class="button button-full button-balanced icon-left ion-paper-airplane" ng-click="submitRequest()">Submit Request</button>
  </ion-content>

</ion-view>
