<ion-view title="Ride Offers">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home"  ui-sref="home">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="offer in offers">
        <h2>
          Pick up time : {{offer.pickUpTime}}
        </h2>
        <p>
          at {{offer.pickupLocation}}
        </p>
        <p>
          Comments: {{offer.comments}}
        </p>
        <div>
          <p>Status {{offer.status}}</p>
          <button ng-if="offer.status === 'Confirmed'" class="button icon ion-checkmark-circled positive" on-tap="acceptOffer(offer)">Accept Offer</button>
          <button class="button icon ion-android-cancel assertive" on-tap="cancelOffer(offer)">Cancel Offer</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
