/* Empty. Add your own CSS if you like */
.ion-place-tools-autocomplete {
  padding: 2px;
}

.ion-place-tools-autocomplete input{
 width: 100%;
}

.scroll-content{
   background-image: url("../img/architecture.png");
}
